.group-memo_competition {
    background: url(/bundles/memobackendoptim/icons/file-text.svg) 3px 2px no-repeat;
}

.exportXls {
    padding-left: 30px;
    margin-left: 20px;
    background: url(/bundles/competition/img/xls.svg) no-repeat;
    background-size: contain;
    line-height: 2em;
    display: inline-block;
}


a.exportPdf img {
    width:21px;
    height:auto;
}

.comp_badge{
    display:inline-block;
    background:#f47c00;
    color:white;
    padding:2px 5px;
    border-radius:3px;
    margin-right:10px;
    min-width: 27px;
    text-align: center;
}
