

.hasteform_competitionForm fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hasteform_competitionForm .hide {
    opacity: 0;
    height: 0;
    display:none;
}

.hasteform_competitionForm .flex-100 {
    flex: 1 0 auto;
    width: 100%;
    max-width: 100%;
}

.hasteform_competitionForm fieldset.flex-columns {

}

.hasteform_competitionForm fieldset.flex-columns>fieldset {
    display: block;
    width: 50%;
}

.hasteform_competitionForm fieldset.flex-columns>fieldset select {
    display:inline-block;
    vertical-align: middle;
}
.hasteform_competitionForm fieldset.flex-columns>fieldset label {
    display: inline-block;
    margin-right:15px;
    vertical-align: baseline;
}

.hasteform_competitionForm fieldset>div {
    flex: 1 1 auto;
    width: 50%;
    max-width: 50%;
}

.hasteform_competitionForm fieldset.assoc_address div:nth-child(even) input,
.hasteform_competitionForm fieldset div:nth-child(odd) input,
.hasteform_competitionForm fieldset div:nth-child(odd) select
{
    max-width: 95%;
}
.hasteform_competitionForm fieldset.assoc_address div:nth-child(odd) input
{
    max-width: 100%;
}

.hasteform_competitionForm .checkbox_container>span,
.hasteform_competitionForm .radio_container>span {
    margin-right:25px;
}

.hasteform_competitionForm .explanation h3 {
    background:#efefef;
    padding:5px 15px;
    margin-top: 25px;
    display: block;
}

.hasteform_competitionForm .associationIcons label {
    height:80px;position:relative;
    display:inline-block;
}
.hasteform_competitionForm .associationIcons label:after {
    background-repeat:  no-repeat;
    width: 80px;
    height:60px;
    line-height: 80px;
    position: absolute;
    left: 0;
    display: block;
    content: " ";
    top: 0;
    z-index: 9999;
    background-size: contain;
}
.hasteform_competitionForm .associationIcons span:nth-child(1) label:after {
    background-image: url(/files/content/Bilder/Logos/Turnverbaende/Logo_STV.jpg);
    height:40px;padding:10px 0;
}
.hasteform_competitionForm .associationIcons span:nth-child(2) label:after {
    background-image: url(/files/content/Bilder/Logos/Turnverbaende/Logo-SUS.jpg);
    width:120px;
}
.hasteform_competitionForm .associationIcons span{
    width:140px;
}
.hasteform_competitionForm .associationIcons span:nth-child(3) label:after {
    background-image: url(/files/content/Bilder/Logos/Turnverbaende/Logo_satus.jpg);
    height:80px;
    width:100px;
}

